*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
}
body > div {
    margin: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
  }
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn + .btn {
    margin-left: 16px;
  }
  
  .btn--success {
    background-color: #71be34;
  }
  
  
  .btn--danger {
    background-color: #ff623d;
  }
    

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }

.toast{
    
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 380px;
    max-width: 400px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 1s;
    animation: slideInLeft ease 0.5s, fadeOut linear 0.5s 3s forwards;
}

@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  

.toast + .toast {
    margin-top: 24px;
}
.toast__icon,.toast__closes{
    padding: 0 16px;
}
.toast__icon {
    font-size: 24px;
}
.toast__body{

    flex-grow: 1;
}
.toast__title{
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.3;
}
.toast__closes{
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}
.toast--success{
    border-color: #47d763;
}
.toast--success .toast__icon{
    color: #47d763;
   
}
.toast--error{
    border-color: #ff623d;
}
.toast--error .toast__icon 
{
    color: #ff623d;
}



.a__1{
  width: 100px;
  height: 40px;
  padding: 16px;
  background-color:rgb(83, 83, 104);
  font-size: 16px;
  color: red;
  
}
.a{
  background-color: salmon;
  margin-top: 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-content: center; */
  align-items: center;
  
}
